* {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 228, 228);
}

header {
  background-color: #d7f2e9;
  box-shadow: 0px 0px 2px black;
  color: black;
  font-size: 1px;
  background-color: #d7f2e9;
  padding: 2px;
}

h2 {
  color: black;
  font-size: 40px;
  background-color: #d7f2e9;
  padding: 11px;
}

header nav {
  color: black;
  font-size: 20px;
  background-color: #d7f2e9;
  float: right;
  margin: -37px 0;
}
section h1 {
  float: left;
  box-shadow: 0px 0px 2px black;
  font-size: 60px;
  width: 1px;
}
section img {
  float: right;
  box-shadow: 0px 0px 2px black;
  height: 300px;
  width: 500px;
}
article {
  float: left;
  width: 150px;
  margin: 350px 0;
  font-size: 17px;
}
body div {
  float: right;
  width: 150px;
  margin: 350px 0;
  font-size: 17px;
}
footer {
  background-color: #d7f2e9;
  box-shadow: 0px 0px 2px black;
  margin: 500px 0;
  font-size: 40px;
  float:center;
}
footer nav {
  float: right;
  margin: 0px 0;
 
}
footer div {
  float: left;
  width: 280px;
  margin: 50px 0;
  font-size: 17px;
}
