* {
  margin: 0px;
  padding: 0px;
}

header {
  padding: 15px 20px;
  box-shadow: 0px 0px 2px black;
  justify-content: space-between;
}

#logo img {
  width: 75px;
  border-radius: 50%;
  border: solid 2px #FF5F5D;
}

header,
nav {
  background-color: #d7f2e9;
  display: flex;
}

header nav ul {
  align-items: center;
  list-style: none;
  display: flex;
}

nav li {
  padding: 10px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

body {
  background-color: #eeeeee;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 55px 0;
  text-align: center;
}

.projeto-cards {
  display: flex;
  justify-content: space-around;
  margin: 60px 90px;
  /* border-radius: 30px; */
}

.projeto-card {
  background-color: #d7f2e9;
  width: 380px;
  height: 530px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 52px;
  justify-content: center;
}

.projeto-card img {
  display: flex;
  width: 320px;
  height: 240px;
  margin: 10px auto;
}

.projeto-card h2 {
  text-align: center;
  padding: 25px 0px;
}

.projeto-descrição {
  padding: 5px 40px 30px;
  text-align: justify;
  line-height: 22px;
}

footer {
  background-color: #d7f2e9;
  margin-top: 20px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 0;
}

footer ul {
  list-style: none;
  padding: 10px 0;
}

.rede-sociais {
  display: flex;
}

.rede-sociais li {
  padding: 15px;
}

span {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

nav li {
  padding: 5px;
}

.footer-list {
  padding: 10px 40px 15px;
}

.rede-sociais {
  padding: 10px;
}

/* página responsiva  */
@media screen and (max-width: 992px) {

  nav li {
    padding: 5px;
  }

  .projeto-cards {
    flex-direction: column;
  }

  .projeto-card {
    margin: 0px auto 40px
  }

  .footer-list {
    padding: 10px 40px 15px;
  }

  .rede-sociais {
    padding: 10px;
  }
}