* {
  margin: 0px;
  padding: 0px;
}

header {
  padding: 15px 20px;
  box-shadow: 0px 0px 0px black;
  justify-content: space-between;
}
#logo img {
  width: 75px;
  border-radius: 50%;
  border: solid 2px #FF5F5D;
}
header, nav {
  background-color:#d7f2e9;
  display: flex;
}

header nav ul {
  align-items: center;
  list-style: none;
  display: flex;
}

nav li {
  padding: 10px;
}
nav li a {
  text-decoration: none;
  color:black;
  font-weight: bolder;
}
body {
  background-color: #eeeeee;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 55px 0;
  text-align: center;
}


.projeto-cards {

  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  background-color: #d7f2e9;

}


footer {
  background-color: #d7f2e9;
  margin-top: 20px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 0;
}

footer ul {
  list-style: none;
  padding: 10px 0;
}

.rede-sociais {
  display: flex;
}

.rede-sociais li {
  padding: 15px;
}

span {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

nav li {
  padding: 5px;
}

.footer-list {
  padding: 10px 40px 15px;
}

.rede-sociais {
  padding: 10px;
}
