body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, rgba(135, 242, 183, 0.733), rgb(25,151,101));
}
.box{
    color: white;
    position: absolute; /* utilizar só o espaço do elemento*/
    top: 50%; /* centralizar*/
    left: 50%; /* centralizar*/
    transform: translate(-50%, -50%); /* centralizar*/
    background-color: rgba(0, 0, 0, 0.8); /* cor ao elemento*/
    padding: 15px; /* espaco entre o elemento e a borda*/
    border-radius: 15px; /* arredondar as bordas*/
    width: 20%; /* largura do elemento*/
    }
fieldset{
    border: 3px solid rgb(23, 198, 131);
    text-align: center;
    ;
}
legend{
    border: 2px solid rgb(23, 198, 131);
    padding: 10px;
    text-align: center;
    background-color:rgb(23, 198, 131);
    border-radius: 5px;
}
.inputBox{
    position: relative; /* posição normal*/
}


.inputUser{
    background: none; /* sem fundo*/
    border: none;
    border-bottom: 1px solid white;
    outline: none; /* tira a marcação quando clicar*/
    color:white; /* cor da escrita*/
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px; /* espaçamento caracteres*/
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none; /* qualquer lugar que clicar executa a ação*/
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
        .inputUser:valid ~ .labelInput{
            top: -20px;
            font-size: 12px;
            color: dodgerblue;

}
